*{
	margin: 0;
}

body,html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("images/rfa.jpg");
	background-size: 100% 100%;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: rgb(197, 191, 191);
	
}

.header {
	width: 100%;
	height: auto;
	background-color:gold;
	color: black;
	text-align: center;
	font-size: 250%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-shadow: 1px 1px white;
	overflow: hidden;
}

.navigation {
	width: 100%;
	height: auto;
	background-color:black;
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70%;
	background-color: black;
}



.side {
	padding: auto;
	
	
	width: 20%;
	height: 100%;
	float: left;
	background-color: black;
	color: red;
}

.main {
	height: 100%;
	float: left;
	background-color: black;
	overflow: auto;
}

#myCarousel {
	width: 100%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
    overflow:hidden;
}

.news {
	
	font-size: xx-large;
	width: 100%;
	height: 40%;
	background-color: ;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
}
h8{
	text-align: center;
}
.blink{
	animation: blink 2.5s linear infinite;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes blink
{
    50% {
        opacity: 0;
        }
}

.hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 67, 67);
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.carousel-indicators{
	text-align:center;
}


.ver li {
	margin-bottom: 5%;
	color: black;
	list-style-type: none;
}

.ver li:hover{
	font-size: 20px;
	color: white;
}

.sau li {
	font-size: 15px;
	padding: 3px;
}
.sau a{
	font-size: larger;
	color: white;
}

.ver a {
	font-size: larger;
	color: white;
}












*{
	margin: 0;
}

body,html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("images/rfa.jpg");
	background-size: 100% 100%;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: lightgrey;
}

.header {
	width: 100%;
	height: auto;
	background-color: gold;
	color: black;
	text-align: center;
	font-size: 250%;
	padding-top: 1%;
	padding-bottom: 0.5%;
	text-shadow: 1px 1px white;
	overflow: hidden;
}

.navigation {
	width: 100%;
	height: auto;
	background-color: black;
	color: black;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70%;
	background-color: black;
}

.end{
	text-align: center;
	height: 10%;

}

.side {
	align-items: center;
	width: 20%;
	height: 100%;
	float: left;
	background-color: black;
	color: red;
}

.main {
	width: 75%;
	height: 100%;
	float: left;
	background-color: black;
	overflow: auto;
}

#myCarousel {
	width: 100%;
	height: 75%;
	background-color:blue;
    overflow:hidden;

}

.news {
	font-size: x-large;
	width: 100%;
	height: 40%;
	background-color: black;
	color: beige;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
	
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.carousel-indicators{
	text-align:center;
}


.ver li {
	margin-bottom: 5%;
	color: black;
	list-style-type: none;
}

.ver li:hover{
	font-size: 20px;
	color: white;
}

.sau li {
	font-size: 15px;
	padding: 3px;
}
.sau a{
	font-size: larger;
	color: white;
}

.ver a {
	font-size: larger;
	color: white;
}